parameters:
	level: 10
	paths:
		- src
		- views
		- heartphrame-manifest.php
	tmpDir: build/phpstan
	treatPhpDocTypesAsCertain: false
	ignoreErrors:
		-
			identifier: property.protected
			path: views
